.card img {
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.7);
  object-fit: cover;
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 20px;
  height: 340px;
  text-decoration: none;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}

.card_title {
  position: absolute;
  font-size: 20px;
  bottom: 0;
  left: 0;
  width: 80%;
  color: white;
  padding-left: 15px;
}
